:root {
	--md-sys-color-primary: #2196f3;    /* Primary: Blue */
	--md-sys-color-secondary: #ff4081;  /* Secondary: Pink */
	--background: #f0f0f0;
	--font: #606060;;
}

body {
	background: var(--background);
	color: var(--font);
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	display: flex;
}

header {
	position: fixed;
	top: 24px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: calc(100% - 48px);
	max-width: 1140px;
	height: 64px;
	background-color: red;
	overflow: hidden;
}

main {
	width: calc(100% - 48px);
	max-width: 1140px;
	margin: 112px auto 0 auto;
	background-color: green;
}

#compute {
	all: unset;
	background-color: green;
	height: 24px;
	border-radius: 12px;
	padding: 0 8px;
	position: absolute;
	right: 24px;
	top: 24px;
	z-index: 1;
}