:root {
	--md-sys-color-primary: #2196f3;    /* Primary: Blue */
	--md-sys-color-secondary: #ff4081;  /* Secondary: Pink */
	--background: #f0f0f0;
	--font: #606060;;
}

body {
	background: var(--background);
	color: var(--font);
	font-family: Helvetica, Arial, sans-serif;
	margin: 0;
	font-size: 14px;
	display: flex;
}

header {
	position: fixed;
	top: 24px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: calc(100% - 48px);
	max-width: 1140px;
	height: 64px;
	background-color: #fff;
	overflow: hidden;
	border-radius: 32px;
}

main {
	width: calc(100% - 48px);
	max-width: 1140px;
	margin: 112px auto 0 auto;
}

#instructions {
	width: 50%;
	display: block;
	margin: 64px auto 0 auto;
}

progress-bar {
	z-index: 0;
}

#github-link {
	height: 32px;
	position: absolute;
	top: 8px;
	left: 8px;
	width: 48px;
	height: 48px;
	background-image: url("../img/github-brands-solid-full.svg");
	background-size: cover;
	z-index: 1;
}

#compute {
	all: unset;
	background-color: var(--md-sys-color-primary);
	color: #fff;
	height: 32px;
	border-radius: 16px;
	padding: 0 8px;
	position: absolute;
	right: 16px;
	top: 16px;
	z-index: 1;
}